body {
    background-color: #ddd;
    font-size: 20px;
}

#content {
    max-width: 50%;
    border: 1px solid darkgrey;
    /* syntax: border size, type, and color */
    margin: 40px auto;
    /* syntax first value: "0" is top and bottom, and second value: "auto" is left and right.  */
    padding: 50px;
}

p {
    color: #035f9c;
    font-size: 1.3em;
}

hr {
    height: 3px;
    background-color: #035f9c;
    width: 80%; 
    margin-top: 50px;
}

h1, h2, p {
    text-align: center;
    /* text-align works on block-level elements and aligns the text content (or inline elements) inside that block.*/
    
}

#logos {
    text-align: center;
} 

img {
    width: 50%;
    display:block;
    margin: 50px auto;
}

#topics {
    line-height: 1.5em;
    margin: 0 auto;
    width: 55%;
}

.list {
    list-style-type: none;
}