h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
}

h2 {
    font-family: Serif;
    color: #8B0000;
}

.main-nav {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: right;
    border-top: 2px solid rgb(245, 191, 30);
    border-bottom: 2px solid rgb(245, 191, 30);
}
.main-nav li {
    padding: 8px;
}
.main-nav a {
    text-decoration: none;
    color: red;
}

.nav-divider {
    border: none;
    border-top: 2px solid rgb(245, 191, 30);
    margin-top: 34px;
}

.book-review-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
}

.book-metadata {
    grid-column: 2/3;
    text-align: right;
    margin-right: 5%;
}

.book-review {
    grid-column: 1/2;
    margin-left: 5%;
    margin-bottom: 15px;
}

body > div > div > img {
    display: block;
    margin: 0 auto;
}

body > footer {
    border-top: 2px solid rgb(245, 191, 30);
}

body > footer > p {
    text-align: center;
}

@media (min-width: 600px) {
    .book-review-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .book-metadata {
        text-align: right;
        grid-column: 1/2;
        border-right: 2px solid rgb(245, 191, 30);
        padding-right: 2rem;
    }

    .book-review {
        grid-column: 2/3;
    }

    body > div > div > img {
        display: block;
        margin-left: 3rem;
    }
}
